
<ul>
    <h4 class="text-dark" style="font-size: 40px; font-weight: bold; text-align: center; ">1.QuickStart </h4>
    <li>Quick Start tell's basic things of Angular , How to create basic Angular Project </li>
    <li>Learning Outcomes,
        TypeScript vs JavaScript,
        Transpilation,
        String Interpolation,
       
    </li>
    <li>
        Input Property Binding,
        Output Property Binding
    </li>
    <li>Hiding and Showing Elements,
        HTML Attribute vs DOM Property
    </li>
</ul>