<ul>
    <h4 class="text-dark" style="font-size: 40px; font-weight: bold; text-align: center; ">2.ES6 </h4>
    <li>
        Transpilation,
        Installing TypeScript,
        Running TypeScript
    </li>
    <li>Let Usage</li>
    <li>
        Declaring a const Variable,
        Block Scoping,
        Immutable Variable,
        Mutable Value,
    </li>
    <li>
        Multi-Line Strings,
        Variable Substitution
    </li>
    <li>
        Fat Arrow Functions
    </li>
    <li>
        Object Destructuring,
        Array Destructuring,
        Function Parameter Destructuring
    </li>
    <li>For of</li>
    <li>
        Map & Set
    </li>
    <li>
        Promises,Decorators
    </li>
    <li>
        Modules
    </li>
</ul>