<div style="margin-left: 100px; margin-top: 50px; font-size: large;">
<div>
  <h4 class="text-dark" style="font-size: 40px; font-weight: bold; text-align: center; "> 7.Observables & RxJS Example</h4>
    
    <br>

    <b class="text-danger" style="margin-bottom: 50px;">Task 1 (Please check the console)</b>
  </div>

  

  <div>
      <b class="text-danger">Task 2</b><br> 
      <b class="text-dark" style="font-size: x-large;"> CountDown  {{min}}:{{counter}}</b>
      <ol>
      <li><b class="text-dark">Mintues and seconds equal's to zero it automatically navigate main page</b><br> </li>
      <li><b class="text-dark">Hello text After one second it will hide and again it display upto min and seconds equal's Zero<br> when ever min=0 and sec=0 automatically hello text will stop the hide and display  </b></li>
    </ol>
      
    
 </div>

 <div *ngIf="hello">
     <h1 class="text-danger">Hello</h1>
 </div>
</div>