<!-- <div id="login">
<p>LOGIN </p>


<div class="form-group col-md-9">
    
    <input type="text" class="form-control" #u1  placeholder="Username">
  </div>

<div class="form-group col-md-9">
    
    <input type="password" class="form-control" #p2  placeholder="Password">
  </div>



<button class="btn btn-primary" (click)="check(u1.value, p2.value)">Login</button>
<br/>
<br/>
<b>

</b>
</div> -->

    <div class="box">
        <h1>login</h1><br>
        <div class="row">
            <div class="col">
                <i class="fa fa-user-circle-o fa-5x fa-color" aria-hidden="true"></i>
                </div>
                <div class="col">
                <input type="text" name="" #u1 placeholder="Username">
            </div>
            </div>
     <div class="row">
          <div class="col">
            <i class="fa fa-lock fa-5x fa-color" aria-hidden="true"></i>
         </div>

        <div class="col">
            <input type="password" name="" #p2 placeholder="Password" >
           
        </div>
    </div>
    
   
        <div class="row">

        
        <input type="submit" name="" value="login" (click)="check(u1.value, p2.value)">
        
        
   
     </div>
     <h6>Note: username : codecraft <br>password : 12345</h6>
    </div>



       
  
