<div class="cc">
    <h4 class="text-dark" style="font-size: 40px; font-weight: bold; text-align: center; ">CodeCraft Topics </h4>
<ol>
    <li>QuickStart</li>
    <li>ES6 JavaScript & TypeScript</li>
    <li>Angular CLI</li>
    <li>Components</li>
    <li>Built-in Directives</li>
    <li>Custom Directives</li>
    <li>Reactive Programming with RxJS</li>
    <li>Pipes</li>
    <li>Forms</li>
    <li>Dependency Injection & Providers</li>
    <li>HTTP</li>
    <li>Routing</li>
    <li>Unit Testing<b style="color: red;">(disabled)</b></li>
    <li>Advanced Topics</li>
    
</ol>
</div>